@use '../../styles/mixins/text';

.describe {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &_reversed {
        text-align: right;
    }

    &__title {
        @include text.textStyle(
            var(--fs-20),
            var(--ff-M-b),
            normal,
            var(--second-text-color)
        );
    }

    &__description {
        @include text.textStyle(
            var(--fs-18),
            var(--ff-L),
            normal,
            var(--third-text-color)
        );
    }
}
