@use '../../styles/mixins/flex';
@use '../../styles/mixins/media';

.task-topic {
    @include flex.flexCentralize;
    @include media.fluid(gap, 14px, 32px, 400px, 768px);

    &__img {
        box-sizing: content-box;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0.5rem;
    }

    &_reversed {
        flex-direction: row-reverse;
    }
}
