@use '../../../../styles/mixins/media';

.step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    transition: all 0.5s ease-out;
    overflow: visible;
    position: relative;

    &__body {
        width: 45%;

        @include media.mediaQuery(768px) {
            width: 90%;
        }
    }

    &__image {
        width: 70%;
        height: 25rem;
        box-shadow: inset 0px 0px 50px 30px var(--main-background-color);
        background: center / 100% no-repeat;
        transition: all 0.5s linear;

        &_1 {
            background-image: url('../../../../../public/assets/images/Step1.jpg');
        }

        &_2 {
            background-image: url('../../../../../public/assets/images/Step2.jpg');
        }

        &_3 {
            background-image: url('../../../../../public/assets/images/Step3.jpg');
        }

        &_hidden {
            opacity: 0;
            transform: translateX(-10rem);
        }

        @include media.mediaQuery(768px) {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(15%, -25%);
            opacity: 0.2;
            height: 30rem;
            background-size: cover;
        }

        @include media.mediaQuery(500px) {
            width: 90%;
            height: 30rem;
            transform: translate(15%, -25%);
        }
    }

    &_reversed {
        flex-direction: row-reverse;
        @include media.mediaQuery(768px) {
            flex-direction: row;
        }
    }

    &_hidden {
        opacity: 0;
        transform: translateX(5rem);
    }

    &_bg-1 {
        --main-background-color: var(--step-1-background-color);
    }

    &_bg-2 {
        --main-background-color: var(--step-2-background-color);
    }

    &_bg-3 {
        --main-background-color: var(--step-3-background-color);
    }
}

.text {
    position: relative;
    margin-top: 2rem;
    width: 90%;

    &__action {
        @include media.fluid(font-size, 30px, 40px, 300px, 900px);
        font: {
            family: var(--ff-M);
        }
        color: var(--second-text-color);
    }

    &__example {
        margin-top: 1rem;
        font-family: var(--ff-L);
        font-size: var(--fs-18);
        color: var(--third-text-color);
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: auto;
        transform: translate(50%, -25%);
        z-index: -1;

        @include media.mediaQuery(768px) {
            width: 85%;
            transform: translate(-50%, -40%);
        }
    }
}

.bold {
    font-family: var(--ff-M-b);
    font-weight: bold;

    &_one {
        color: var(--spec-1-text-color);
    }

    &_two {
        color: var(--spec-2-text-color);
    }

    &_three {
        color: var(--spec-3-text-color);
    }
}

.hash {
    @include media.mediaQuery(768px) {
        @include media.fluid(font-size, 30px, 35px, 320px, 768px);
        opacity: 0.5;
        letter-spacing: 0.2rem;
    }
}
