@use '../../../../styles/mixins/flex';

.get-started {
    @include flex.flexCentralize;

    margin-top: 15rem;
    flex-direction: column;
    gap: 2rem;

    &__text {
        color: var(--second-text-color);
        font-family: var(--ff-L);
        font-size: var(--fs-20);
    }
}
