@use '../../styles/mixins/flex';
@use '../../styles/mixins/media';

.quote {
    z-index: 1;
    backdrop-filter: blur(5px);

    &__text {
        font-size: var(--fs-25);
        font-family: var(--ff-V);
        color: var(--first-text-color);
        text-align: right;
        padding: 0.5rem;
    }

    &__author {
        font-size: var(--fs-16);
        font-family: var(--ff-V);
        color: var(--third-text-color);
        text-align: right;
        margin-top: 1rem;
    }
}
