@use '../../styles/mixins/flex';

.quote {
    &__text {
        font-size: var(--fs-20);
        font-family: var(--ff-V);
        color: var(--first-text-color);
        font-style: italic;
        text-align: right;
    }

    &__author {
        font-size: var(--fs-16);
        font-family: var(--ff-V);
        color: var(--third-text-color);
        text-align: right;
        margin-top: 1rem;
    }
}
