@use '../../styles/mixins/media';

.fact {
    display: block;
    width: 80%;
    float: right;
    color: var(--second-text-color);
    line-height: 3.125rem;
    text-align: right;
    font: {
        size: var(--fs-40);
        family: var(--ff-L);
    }

    @include media.fluid(font-size, 30px, 40px, 300px, 1024px);
    @include media.mediaQuery(768px) {
        width: 100%;
    }
}
