.steps-block {
    width: 100%;
    margin-bottom: 10rem;

    &__title {
        font: {
            size: var(--fs-40);
            family: var(--ff-M);
        }
        color: var(--second-text-color);
    }
}
