@use '../../../../styles/mixins/center';

.back-rounds {
    @include center.center();
    display: grid;
    grid-template-columns: repeat(6, 5rem);
    grid-template-rows: repeat(6, 5rem);
    z-index: -1;
}