@use '../../styles/mixins/width';
@use '../../styles/mixins/background';

.face-img {
    @include background.backgroundDefault;
    background-color: var(--first-background-color);
    border-radius: var(--radius-30);
    transition: all 0.2s linear;

    &:hover {
        background-color: var(--fourth-background-color);
        transform: scale(1.05);
    }
}

.first-img {
    @include width.ratio(150px);
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    animation: scaling 0.5s linear 0s 1 normal none running;
}

.second-img {
    @include width.ratio(160px);
    grid-row: 1 / 3;
    grid-column: 3 / 6;
    align-self: center;
}

.third-img {
    @include width.ratio(100px);
    grid-row: 2 / 5;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
}

.fourth-img {
    @include width.ratio(180px);
    grid-row: 3 / 7;
    grid-column: 2 / 6;
    align-self: center;
}

@keyframes scaling {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
