@use '../../styles/mixins/flex';

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    width: 60%;
    float: right;
}

.navbar {
    @include flex.flexCentralize;
    width: 100%;

    &__list {
        @include flex.flexCentralize;
        width: 100%;
        display: flex;
        list-style: none;
        overflow: hidden;
        gap: 20%;
        padding: 0 1rem;
    }
}
