@use '../../../../styles/mixins/background';

.quote-block {
    width: 50%;
    height: 30rem;
    padding: 2.5rem;
    background: url('../../../../assets/images/quoteBackground.png') bottom /
            100% no-repeat,
        hsla(264, 71%, 1%, 1) no-repeat;
    box-shadow: 0px 0px 50px 30px #030106 inset;
    transition: all 0.3s linear;

    //hide
    transform: translateY(5rem);
    opacity: 0;

    &_show {
        transform: translateY(0);
        opacity: 1;
    }

    &__header {
        width: 100%;
        padding: 0.5rem;
        text-align: right;
    }

    &__body {
        margin-top: 2rem;
        width: 100%;
    }
}
