@use '../../styles/mixins/text';

.content {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;

    &__text {
        @include text.textStyle(
            var(--fs-25),
            var(--ff-L),
            normal,
            var(--first-text-color)
        );
        line-height: 2rem;
        width: 50%;
        border-radius: var(--radius-30);
        padding: 1.5rem;
        background-color: var(--first-background-color);
        height: fit-content;
    }

    &__img-wrap {
        width: fit-content;
        margin: 0 auto;
    }
}
