@use '../../styles/mixins/text';

.task-tip {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 2;

    &__text {
        @include text.textStyle(
            var(--fs-16),
            var(--ff-L),
            normal,
            var(--fifth-text-color)
        );
    }
}
