@use '../../../../styles/mixins/media';
@use '../../../../styles/mixins/width';

.face-images {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15%);
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);

    @include media.mediaQuery(900px) {
        width: 100%;
        transform: translate(-50%, -25%) scale(1.1);
    }

    @for $i from 1 through 4 {
        &__face-image {
            &:nth-child(#{$i}) {
                animation-delay: ($i * (8s / 18)) + 1;
            }
        }
    }

    &__face-image {
        opacity: 0;
        animation: pulse 0.2s linear 1 normal forwards;
        @include media.mediaQuery(900px) {
            &:nth-child(1) {
                @include width.ratio(7rem);
                grid-area: 2 / 1 / 2 / 2;
            }
            &:nth-child(2) {
                @include width.ratio(8rem);
                grid-area: 4 / 1 / 5 / 4;
                align-self: flex-end;
                justify-self: center;
            }
            &:nth-child(3) {
                @include width.ratio(5rem);
                grid-area: 5 / 2 / 7 / 6;
                justify-self: center;
                align-self: center;
            }
            &:nth-child(4) {
                @include width.ratio(9rem);
                grid-area: 2 / 5 / 5 / 7;
                align-self: center;
            }
        }
    }
}

@keyframes pulse {
    100% {
        opacity: 1;
    }
}
